.home-page {
    background-image: url('../../images/backgroundimages/woman-her-kitchen-surrounded-by-fresh-ingredients-expertly-flips-vegetables-wok-delicious-stir-fry.jpg'); /* Update the path */
    background-size: cover; /* Ensures the background covers the whole page */
    background-position: center; /* Centers the background image */
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Allows centering of child elements */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    color: white; /* Text color for visibility */
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }