/* .recipes {
    padding: 20px;
}

.recipes h2 {
    margin-bottom: 10px;
}

.recipes ul {
    list-style-type: none;
    padding: 0;
}

.recipes li {
    margin-bottom: 20px;
} */

.recipes-container {
  background-image: url("../../public/bg4.jpg"); 
  background-size: cover; 
  background-position: center; 
  min-height: 100vh; 
  display: fit; 
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;   
  color: black; 
  padding: 20px;  
}
